{
  "*.{ts,tsx,js,jsx}": [
    "node node_modules/eslint/bin/eslint.js --fix",
    "node node_modules/prettier/bin/prettier.cjs --write",
    "node node_modules/vitest/vitest.mjs related --run"
  ],
  "*.{json,md,yml,yaml}": ["node node_modules/prettier/bin/prettier.cjs --write"],
  "*.{css,scss}": ["node node_modules/prettier/bin/prettier.cjs --write"]
}
