@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
}

*,
:after,
:before {
  box-sizing: revert;
}

/* YouTube Comment Navigator container sizing */
#youtube-comment-navigator-app {
  font-size: 16px;
}
